.button{

    width:100%;
    height:56px;

    background:#2231AA;

    border:none;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.2s;

}

.button:hover{

    background:#5360CD;

}

.button:active{

    background:#5360CD;

}