.pizza {
  padding: 40px;
  border-radius: 50%;
  background-color: bisque;
  margin: 40px;
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  color: white;
  background-color: rgb(209, 65, 65);
}
