.button {
    background-color: rgb(255, 253, 196);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 8px;
}
.button:hover{
    opacity: 0.8;
}

.primary {
    background-color: rgb(238, 223, 16);
    color: rgb(0, 0, 0);
}
.secondary {
    background-color: rgb(238, 157, 6);
    color: rgb(0, 0, 0);
}
.tertiary {
    background-color: rgb(238, 6, 6);
    color: rgb(0, 0, 0);
}

.outlined {
  background: transparent;
  border: 2px solid currentColor;
}