.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background: #c18585;
  color: black;
}

.circular {
  border-radius: 50%;
}

.rounded {
  border-radius: 12px;
}

.square {
  border-radius: 0;
}

.size_xs {
  font-size: 12px;

  width: 24px;
  height: 24px;
}

.size_xs.square {
  width: 28px;
  height: 28px;
}

.size_s {
  font-size: 14px;
  width: 32px;
  height: 32px;
}

.size_m {
  font-size: 16px;
  width: 56px;
  height: 56px;
}

.size_l {
  font-size: 18px;
  width: 74px;
  height: 74px;
}
