.hamburger-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.hamburger-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
	width: 60px;
	height: 60px;
	background-color: #2a31a1;
	border: none;
	cursor: pointer;
}
