.smallCard {
    display: flex;  /*картинка не сверху, а справа. */
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid #DADADA;
}

.smallCard__link{
text-decoration: none;
color: inherit;
display: block;
}

.smallCard__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px

}

.smallCard__information {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.smallCard__image {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 12px;
}

.smallCard__date {
    font-size: 14px;
    color: #8D8E97;
}

.smallCard__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: var(--app-text);
}