
.submitBtn {
  width: 100%;
  background-color: var(--button-bg);
  color: var(--text-btn-color);
  border: none;
  padding: 14px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitBtn:hover {
  background-color: var(--hover-bg);
}

.formInput {
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  color: var(--text-secondary);
  background: var(--input-bg);
  width: 100%;
  margin-bottom: 15px;
}