.mediumCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.mediumCard__link{
text-decoration: none;
color: inherit;
display: block;
}

.mediumCard_information{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.mediumCard__image {
    width: 100%;
    height: 246px;
    object-fit: cover;
    border-radius: 16px;
}

.mediumCard__date {
    font-size: 16px;
    color: #8D8E97;
}

.mediumCard__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: var(--app-text);
}