.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  max-width: 300px;
  height: calc(100vh - 70px);
  background: var(--bg-secondary);
  box-shadow: var(--shadow-color);
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0);
}

.userAvatar {
  display: flex;            
  align-items: center;        
  justify-content: center;    
  padding: 10px 0;
  width: 100%;
  background-color: var(--header-bg);                
}


.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  flex: 1;
  padding: 0;
  margin: 0;
}

.menuItem {
  border: 1px solid var(--border-color);
  border-left: 0;
  border-right: 0;
}

.menuButton {
  width: 100%;
  padding: 18px;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: inherit;

}
.menuButton:disabled {
      cursor: not-allowed;
  }


.themesWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
  border: 1px solid var(--border-color);
}



.logoutButton {
  width: 100%;
  padding: 18px;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-left: 0;
  border-right: 0;
  margin-top: auto;
  background-color: var(--button-bg);
  text-align: center;
  color: var(--text-btn-color);
  font-weight: 700;
}

.icon {
  fill: var(--text-primary)
}