.header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 60px;

    color: var(--header-text-color);
    background-color: var(--brand-color);
}